/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

/*fonts*/
/*colors*/
/*padding*/
.heading {
  color: #333333;
}

.heading-lg {
  font-size: 1.7142857143rem;
  font-weight: 500;
  line-height: 2.5714285714rem;
}

.heading-md {
  font-size: 1.7142857143rem;
  font-weight: 500;
  line-height: 2.5714285714rem;
}

.heading-sm {
  font-size: 1.7142857143rem;
  font-weight: 500;
  line-height: 2.5714285714rem;
}

.icon-1 {
  background-color: #2D9CDB;
}

.icon-2 {
  background-color: #27AE60;
}

.icon-3 {
  background-color: #EB5757;
}

.form-email {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.form-email label {
  font-size: 0.7142857143rem;
  font-weight: 500;
  line-height: 1.0714285714rem;
  color: #828282;
}
.form-email .input-group {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  display: flex;
  position: relative;
  height: 47px;
}
.form-email .input-group input {
  padding-left: 19px;
  padding-right: 78px;
  background-color: #F2F2F2;
  border-radius: 12px;
  width: 100%;
  border: none;
}
.form-email .input-group input:hover {
  outline: none;
}
.form-email .input-group button {
  background-color: #2D9CDB;
  color: #F2F2F2;
  position: absolute;
  height: 39px;
  width: 71px;
  top: 50%;
  right: 4px;
  border: none;
  border-radius: 12px;
  transform: translateY(-50%);
}

html {
  font-family: "Poppins", sans-serif;
  color: #4F4F4F;
  background-color: #FFFFFF;
  font-size: 14px;
  scroll-behavior: smooth;
}
html.block {
  overflow-y: hidden;
}
html.block body .container * {
  display: none;
}
html.block header {
  display: block !important;
}
html.block header * {
  display: flex !important;
}
html .load-hidden {
  visibility: hidden;
}

::placeholder {
  color: #BDBDBD;
}

.container {
  width: 100%;
}

header {
  padding-top: 15px;
  padding-left: 2.6666666667vw;
  padding-right: 2.6666666667vw;
  background-color: #FFFFFF;
  margin-bottom: 7.1964017991vh;
  transition: 0.4s;
}
header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2.6666666667vw;
  padding-right: 2.6666666667vw;
}
html.block header .navbar .logo, html.block header .navbar .menu-burger {
  visibility: hidden !important;
}
header .navbar .logo {
  font-family: "Heebo", sans-serif;
  font-size: 1.7142857143rem;
  font-weight: 800;
  line-height: 2.5rem;
  color: #333333;
}
header .navbar nav {
  display: none;
}
@media screen and (max-width: 991px) {
  header .navbar nav.open {
    padding-top: 15px;
    padding-left: 2.6666666667vw;
    padding-right: 2.6666666667vw;
    z-index: 10000000;
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 80px;
  }
  header .navbar nav.open .close {
    display: inherit;
    align-self: flex-end;
  }
  header .navbar nav.open ul li {
    animation: showhide 2s ease-out;
  }
  @keyframes showhide {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  header .navbar nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
  }
}
header .navbar nav li:hover a {
  opacity: 0.5;
}
header .navbar nav li a {
  position: relative;
  color: #333333;
  text-decoration: none;
}
header .navbar nav li.active a::after {
  content: "";
  background-color: #2D9CDB;
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  transform: translateY(4px);
}
header .navbar nav .close {
  display: none;
}

.hero {
  padding-left: 2.6666666667vw;
  padding-right: 2.6666666667vw;
}
.hero .banner {
  padding-left: 2.6666666667vw;
  padding-right: 2.6666666667vw;
}
.hero .banner .banner-text {
  margin-left: 8vw;
  margin-bottom: 15px;
  width: 19.4285714286rem;
}
.hero .banner .banner-text .pre-heading {
  font-size: 0.8571428571rem;
  font-weight: 500;
  line-height: 1.2857142857rem;
  color: #2D9CDB;
}
.hero .banner .banner-img {
  width: 100%;
  height: auto;
  border-radius: 18px;
  margin-bottom: 22px;
}
.hero .contact {
  padding-left: 2.6666666667vw;
  padding-right: 2.6666666667vw;
  margin-left: 8vw;
  margin-right: 8vw;
}
.hero .contact .contact-text {
  margin-bottom: 31px;
  display: flex;
  flex-direction: column;
  gap: 33px;
}
.hero .contact .heading {
  width: 58.6666666667vw;
}
.hero .contact .content {
  width: 73.3333333333vw;
  font-size: 0.8571428571rem;
  font-weight: 400;
  line-height: 1.2857142857rem;
}

main {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.service {
  padding-top: 102px;
  display: flex;
  flex-direction: column;
  gap: 43px;
}
.service .heading {
  margin-left: 13.3333333333vw;
  width: 69.0666666667vw;
}
.service .cards-wrapper {
  display: flex;
  flex-direction: column;
  gap: 69px;
  margin-left: 15px;
  margin-right: 15px;
}
.service .card {
  padding-top: 49px;
  padding-bottom: 49px;
  padding-left: 34px;
  padding-right: 34px;
}
.service .card.hover {
  box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
  border-radius: 24px;
}
.service .card.hover .btn-card {
  background-color: #2D9CDB;
  color: #FFFFFF;
}
.service .card .icon {
  display: grid;
  place-items: center;
  border-radius: 16px;
  width: 67px;
  height: 67px;
  margin-bottom: 35px;
}
.service .card .icon .icon-card path {
  fill: #FFFFFF;
}
.service .card .title {
  display: block;
  font-size: 1.7142857143rem;
  font-weight: 700;
  line-height: 2.5714285714rem;
  color: #333333;
  margin-bottom: 24px;
}
.service .card .content {
  font-size: 1.1428571429rem;
  font-weight: 400;
  line-height: 1.7142857143rem;
  margin-bottom: 30px;
}
.service .card .btn-card {
  font-size: 1.1428571429rem;
  font-weight: 500;
  line-height: 1.7142857143rem;
  border: none;
  background: #E0E0E0;
  border-radius: 12px;
  color: #828282;
  width: 116px;
  height: 42px;
}

.work {
  padding-top: 97px;
  display: flex;
  flex-direction: column;
}
.work .heading {
  width: 267px;
  margin-bottom: 48px;
  margin-left: 12vw;
}
.work .project-wrapper {
  display: flex;
  flex-direction: column;
  gap: 35.63px;
  margin-left: 2.6666666667vw;
  margin-right: 2.6666666667vw;
}
.work .projects {
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.work .projects .project {
  display: flex;
  flex-direction: column;
}
.work .projects .project .project-img {
  width: 100%;
  height: auto;
  border-radius: 24px;
  margin-bottom: 12.43px;
}
.work .projects .project .tech {
  font-size: 0.8571428571rem;
  font-weight: 300;
  line-height: 1.2857142857rem;
  color: #828282;
}
.work .projects .project .name {
  font-size: 1.2857142857rem;
  font-weight: 500;
  line-height: 1.9285714286rem;
  color: #333333;
}
.work .see-more {
  font-size: 1.2857142857rem;
  font-weight: 500;
  line-height: 1.9285714286rem;
  text-decoration: none;
  color: #2D9CDB;
  display: flex;
  align-items: center;
  gap: 12px;
}
.work .see-more .icon {
  transform: translateY(2px);
}
.work .see-more .icon path {
  fill: #2D9CDB;
}

.team {
  padding-top: 100px;
  margin-left: 2.6666666667vw;
  margin-right: 2.6666666667vw;
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.team .team-info {
  display: flex;
  flex-direction: column;
  width: 280px;
}
.team .team-info .pre-heading {
  font-size: 1.2857142857rem;
  font-weight: 500;
  line-height: 1.9285714286rem;
  color: #EB5757;
  margin-bottom: 7px;
}
.team .team-info .heading {
  font-size: 2.5714285714rem;
  font-weight: 500;
  line-height: 3.8571428571rem;
  margin-bottom: 14px;
}
.team .team-info .description {
  font-size: 1.1428571429rem;
  font-weight: 400;
  line-height: 1.7142857143rem;
}
.team .team-members {
  width: 100%;
  display: grid;
  grid-template-columns: 50.18% auto;
  gap: 8.91px;
  align-items: center;
}
.team .team-members img {
  max-width: none !important;
  width: 100%;
}
.team .team-members div {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 8.91px;
  height: fit-content;
}
.team .team-members div .member-1 {
  height: auto;
  width: 80.2%;
}
.team .team-members div .member-2 {
  height: auto;
  width: 100%;
}
.team .team-members .member {
  border-radius: 24px;
}

.clients {
  padding-top: 100.31px;
  display: flex;
  flex-direction: column;
  margin-left: 2.6666666667vw;
  margin-right: 2.6666666667vw;
  gap: 27px;
}
.clients blockquote {
  font-size: 1.7142857143rem;
  font-weight: 500;
  line-height: 2.5714285714rem;
  color: #333333;
}
.clients .quote-author {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 82px 1fr;
  column-gap: 30px;
  align-items: center;
  grid-template-areas: "pic name" "pic role";
}
.clients .quote-author img {
  grid-area: pic;
  border-radius: 12px;
}
.clients .quote-author .name {
  grid-area: name;
  font-size: 1.7142857143rem;
  font-weight: 500;
  line-height: 2.5714285714rem;
  color: #333333;
}
.clients .quote-author .role {
  grid-area: role;
  font-size: 1.2857142857rem;
  font-weight: 500;
  line-height: 1.9285714286rem;
  color: #828282;
}

footer {
  background-color: #100E1D;
  padding-left: 10.9333333333vw;
  padding-right: 10.9333333333vw;
  display: flex;
  flex-direction: column;
}
footer .footer-items {
  margin-top: 36px;
  margin-bottom: 154px;
  display: flex;
  flex-direction: column;
  gap: 64px;
}
footer .nav ul {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 200%;
  font-weight: 400;
}
footer .nav ul li a {
  text-decoration: none;
  color: #FFFFFF;
}
footer .nav ul li a:hover {
  text-decoration: underline;
}
footer .social {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
footer .social .logo {
  font-family: "Heebo", sans-serif;
  font-size: 2.5714285714rem;
  font-weight: 800;
  line-height: 3.7857142857rem;
  color: #F2F2F2;
}
footer .social .social-icons {
  display: flex;
  gap: 11px;
}
footer .licence {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2142857143rem;
  color: #B9BDCF;
  text-align: center;
  margin-bottom: 24px;
}
footer .licence .author {
  text-decoration: none;
  color: #B9BDCF;
  font-weight: 700;
}
footer .licence .author:hover {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .heading-lg {
    font-size: 3.4285714286rem;
    font-weight: 500;
    line-height: 5.1428571429rem;
  }

  .heading-md {
    font-size: 3.4285714286rem;
    font-weight: 500;
    line-height: 5.1428571429rem;
  }

  .heading-sm {
    font-size: 2.5714285714rem;
    font-weight: 500;
    line-height: 3.8571428571rem;
  }

  .form-email {
    width: WidthInRem(350);
    gap: 9px;
  }
  .form-email label {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
  }
  .form-email .input-group {
    height: 57px;
  }
  .form-email .input-group input {
    font-size: 1.2857142857rem;
    font-weight: 500;
    line-height: 1.9285714286rem;
    padding-left: 21px;
    padding-right: 104px;
  }
  .form-email .input-group button {
    font-size: 1.2857142857rem;
    font-weight: 500;
    line-height: 1.9285714286rem;
    width: 94px;
    height: 49px;
  }

  header .navbar .logo {
    font-size: 2.5714285714rem;
    font-weight: 800;
    line-height: 3.7857142857rem;
  }
  header .navbar .menu-burger .icon-menu {
    height: 30px;
    width: auto;
  }
  header .navbar nav .close .icon {
    width: 30px;
    height: auto;
  }
  header .navbar nav ul {
    gap: 50px;
    font-size: 1.7142857143rem;
    font-weight: 700;
    line-height: 2.5714285714rem;
  }

  .hero .banner .banner-text {
    width: 38.7857142857rem;
  }
  .hero .banner .banner-text .pre-heading {
    font-size: 1.2857142857rem;
    font-weight: 500;
    line-height: 1.9285714286rem;
  }
  .hero .contact {
    width: 26.1428571429rem;
  }
  .hero .contact .contact-text .heading {
    width: 100%;
  }
  .hero .contact .contact-text .content {
    width: 100%;
    font-size: 1.2857142857rem;
    font-weight: 400;
    line-height: 1.9285714286rem;
  }

  main {
    margin-left: 2.6666666667vw;
    margin-right: 2.6666666667vw;
  }

  .service {
    gap: 4.6666666667vh;
  }
  .service .heading {
    width: 24.7142857143rem;
    margin-left: 15px;
  }
  .service .cards-wrapper {
    align-self: center;
    flex-direction: row;
    gap: 0;
  }
  .service .card {
    padding-top: 46px;
    padding-bottom: 46px;
  }
  .service .card .icon .icon-card {
    width: 28px;
    height: 28px;
  }
  .service .card .content {
    width: 23.4666666667vw;
  }

  .work {
    padding-top: 21.5555555556vh;
  }
  .work .heading {
    width: 448px;
    margin-left: 15px;
  }
  .work .project-wrapper {
    position: relative;
  }
  .work .project-wrapper .projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }
  .work .project-wrapper .projects .project .tech {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5rem;
  }
  .work .project-wrapper .projects .project .name {
    font-size: 1.7142857143rem;
    font-weight: 500;
    line-height: 2.5714285714rem;
  }
  .work .project-wrapper .projects .project:nth-child(odd) {
    margin-top: 11.1111111111vh;
  }
  .work .project-wrapper .see-more {
    font-size: 1.7142857143rem;
    font-weight: 500;
    line-height: 2.5714285714rem;
    z-index: 500;
    position: absolute;
    bottom: 4px;
    right: 0;
  }

  .team {
    padding-top: 24.3333333333vh;
    flex-direction: row;
    align-items: center;
    gap: 5.5555555556vw;
  }
  .team .team-info {
    width: 20rem;
  }
  .team .team-members {
    width: auto;
    gap: 10px;
  }
  .team .team-members div {
    gap: 10px;
  }

  .clients {
    padding-top: 21.7777777778vh;
  }
  .clients blockquote {
    font-size: 2.5714285714rem;
    font-weight: 500;
    line-height: 3.8571428571rem;
  }

  footer .form-email {
    width: 25rem;
  }
}
@media screen and (min-width: 992px) {
  .heading-lg {
    font-size: 3.4285714286rem;
    font-weight: 500;
    line-height: 5.1428571429rem;
  }

  .form-email {
    width: WidthInRem(350);
    gap: 9px;
  }
  .form-email label {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
  }
  .form-email .input-group {
    height: 57px;
  }
  .form-email .input-group input {
    font-size: 1.2857142857rem;
    font-weight: 500;
    line-height: 1.9285714286rem;
    padding-left: 21px;
    padding-right: 104px;
  }
  .form-email .input-group button {
    font-size: 1.2857142857rem;
    font-weight: 500;
    line-height: 1.9285714286rem;
    width: 94px;
    height: 49px;
  }

  header {
    padding-top: 4.6666666667vh;
  }
  header.sticky {
    z-index: 1000000;
    width: 100%;
    padding-top: 0.8888888889vh;
    padding-bottom: 0.8888888889vh;
    top: 0;
    left: 0;
    position: fixed;
    box-shadow: 0 1px 6px 0 rgba(51, 51, 51, 0.2);
  }
  header .navbar {
    padding-right: 3.6111111111vw;
    padding-left: 3.6111111111vw;
  }
  header .navbar .logo {
    font-size: 2.5714285714rem;
    font-weight: 800;
    line-height: 3.7857142857rem;
  }
  header .navbar nav {
    display: flex;
  }
  header .navbar nav ul {
    display: flex;
    flex-direction: row;
    gap: 4.1666666667vw;
    font-size: 1.7142857143rem;
    font-weight: 500;
    line-height: 2.5714285714rem;
  }
  header .navbar nav li.active a {
    color: #2D9CDB;
  }
  header .navbar nav li.active a::after {
    display: none;
  }
  header .navbar nav .close {
    display: none;
  }
  header .navbar .menu-burger {
    display: none;
  }

  .hero .banner {
    padding-right: 3.6111111111vw;
    padding-left: 3.6111111111vw;
    margin-bottom: 4.6666666667vh;
  }
  .hero .banner .banner-text {
    margin-left: 15.625vw;
    width: 38.7857142857rem;
    margin-bottom: 4.6666666667vh;
    gap: 16px;
  }
  .hero .banner .banner-text .pre-heading {
    font-size: 1.2857142857rem;
    font-weight: 500;
    line-height: 1.9285714286rem;
  }
  .hero .contact {
    padding-right: 0;
    padding-left: 0;
    width: 26.1428571429rem;
    margin-left: 19.2361111111vw;
  }
  .hero .contact .contact-text {
    gap: 42px;
    margin-bottom: 4.6666666667vh;
  }
  .hero .contact .contact-text .heading {
    width: 100%;
  }
  .hero .contact .contact-text .content {
    width: 100%;
    font-size: 1.2857142857rem;
    font-weight: 400;
    line-height: 1.9285714286rem;
  }

  main {
    margin-left: 11.4583333333vw;
    margin-right: 11.4583333333vw;
    margin-bottom: 22.2222222222vh;
  }

  .service {
    padding-top: 10.6666666667vh;
    gap: 4.6666666667vh;
  }
  .service .heading {
    width: 24.7142857143rem;
    margin-left: 0;
  }
  .service .cards-wrapper {
    align-self: center;
    flex-direction: row;
    gap: 2.7777777778vw;
  }
  .service .card {
    padding-top: 46px;
    padding-bottom: 46px;
  }
  .service .card .icon .icon-card {
    width: 28px;
    height: 28px;
  }
  .service .card .content {
    width: 18.9583333333vw;
  }

  .work {
    padding-top: 21.5555555556vh;
  }
  .work .heading {
    width: 448px;
    margin-left: 0;
    margin-bottom: 12px;
  }
  .work .project-wrapper {
    position: relative;
    margin: 0;
  }
  .work .project-wrapper .projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }
  .work .project-wrapper .projects .project .tech {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5rem;
  }
  .work .project-wrapper .projects .project .name {
    font-size: 1.7142857143rem;
    font-weight: 500;
    line-height: 2.5714285714rem;
  }
  .work .project-wrapper .projects .project:nth-child(odd) {
    margin-top: 19.5555555556vh;
  }
  .work .project-wrapper .see-more {
    font-size: 1.7142857143rem;
    font-weight: 500;
    line-height: 2.5714285714rem;
    z-index: 500;
    position: absolute;
    bottom: 4px;
    right: 0;
  }

  .team {
    padding-top: 24.3333333333vh;
    margin-left: 0;
    margin-right: 0;
    flex-direction: row;
    align-items: center;
    gap: 13.0555555556vw;
  }
  .team .team-info {
    width: 20rem;
  }
  .team .team-members {
    width: auto;
    gap: 24px;
  }
  .team .team-members div {
    gap: 24px;
  }

  .clients {
    padding-top: 21.7777777778vh;
    margin: 0;
    gap: 45px;
  }
  .clients blockquote {
    font-size: 2.5714285714rem;
    font-weight: 500;
    line-height: 3.8571428571rem;
    width: 66.9285714286rem;
  }

  footer {
    padding-left: 11.6666666667vw;
  }
  footer .footer-items {
    margin-top: 5.1111111111vh;
    flex-direction: row;
    gap: 0;
  }
  footer .nav {
    margin-right: 17.0138888889vw;
  }
  footer .social {
    margin-right: 24.7222222222vw;
  }
  footer .form-email {
    width: 25rem;
  }
}

/*# sourceMappingURL=style.css.map */
