@import "./libs/reset.scss";
@import "./libs/functions.scss";
@import "./libs/mixins.scss";

/*fonts*/
$font-primary:'Poppins', sans-serif;;
$font-secondary:'Heebo', sans-serif;
$font-footer:'Montserrat', sans-serif;
/*colors*/
$color-heading: #333333;
$color-primary:#4F4F4F;
$color-small:#828282;
$color-blue:#2D9CDB;
$color-red:#EB5757;
$color-green: #27AE60;
$color-box: #E5E5E5;
$color-licence: #B9BDCF;
/*padding*/
$padding-mobile: widthInVW(40);
$padding-desktop: widthInVW(165, 1440);

.heading{
    color: $color-heading;
}
.heading-lg{
    @include setFontProps(24, 36, 500);
}
.heading-md{
    @include setFontProps(24, 36, 500);
}
.heading-sm{
    @include setFontProps(24, 36, 500);
}
.icon-1{
    background-color: $color-blue;
}
.icon-2{
    background-color: $color-green;
}
.icon-3{
    background-color: $color-red;
}
.form-email{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    label{
        @include setFontProps(10, 15, 500);
        color: $color-small;
    }
    .input-group{
        @include setFontProps(14, 21, 500);
        display: flex;
        position: relative;
        height: 47px;
        input{
            padding-left: 19px;
            padding-right: 78px;
            background-color: #F2F2F2;
            border-radius: 12px;
            width: 100%;
            border: none;
            &:hover{
                outline: none;
            }
        }
        button{
            background-color: $color-blue;
            color: #F2F2F2;
            position: absolute;
            height: 39px;
            width: 71px;
            top: 50%;
            right: 4px;
            border: none;
            border-radius: 12px;
            transform: translateY(-50%);
        }
    }           
}
html{
    font-family: $font-primary;
    color: $color-primary;
    background-color: #FFFFFF;
    font-size: 14px;
    scroll-behavior: smooth;
}
body.block{
    overflow-y: hidden;
}
.container{
    width: 100%;
}
header{
    position: relative;
    padding: {
        left:widthInVW(10);
        right:widthInVW(10);
    };
    .navbar{
        background-color: #FFFFFF;
        z-index: 600;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: {
            top: 15px;
            left:widthInVW(10);
            right:widthInVW(10);
        };
        margin-bottom: heightInVH(48);
        transition: 0.4s;
        &.sticky{
            padding-top: 4px;
            padding-bottom: 2px;
            width: 100%;
            left: 0;
            position: fixed;
            box-shadow: 0 1px 6px 0 rgba(#333333, 0.2);
        }
        .logo{
            font-family: $font-secondary;
            @include setFontProps(24,35,800);
            color: $color-heading;
        }
        nav{
            display: none;
            @media screen and (max-width: 991px) {
                &.open{
                    padding: {
                        top: 15px;
                        left: widthInVW(10);
                        right: widthInVW(10);
                    };
                    z-index: 1000;
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100vw;
                    height: 100vh;
                    background-color: #FFFFFF;
                    display: flex;
                    flex-direction: column;
                    gap: 80px;
                    .close{
                        display: inherit;
                        align-self: flex-end;
                    }
                }
                ul{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 30px;
                    font-size: 18px;
                    line-height: 21px;
                    font-weight: 700;
                }
            }
            li{
                a{
                    position: relative;
                    color: $color-heading;
                    text-decoration: none;
                }
                &.active a::after{
                    content: "";
                    background-color: $color-blue;
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    bottom: 0;
                    left: 0;
                    transform: translateY(4px);
                }
            }
            .close{
                display: none;
            }
        }
    }
    .banner{
        padding: {
            left:widthInVW(10);
            right:widthInVW(10);
        };
        .banner-text{
            margin-left: widthInVW(30);
            margin-bottom: 15px;
            width: widthInRem(272);
            .pre-heading{
                @include setFontProps(12, 18, 500);
                color: $color-blue;
            }
        }
        .banner-img{
            width: 100%;
            height: auto;
            border-radius: 18px;
            margin-bottom: 22px;
        }
    }
    .contact{
        padding: {
            left:widthInVW(10);
            right:widthInVW(10);
        };
        margin-left: widthInVW(30);
        margin-right: widthInVW(30);
        .contact-text{
            margin-bottom: 31px;
            display: flex;
            flex-direction: column;
            gap: 33px;
        }
        .heading{
            width: widthInVW(220);
        }
        .content{
            width: widthInVW(275);
            @include setFontProps(12, 18, 400);
        }
    }
}

main{
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}
.service{
    padding-top: 102px;
    display: flex;
    flex-direction: column;
    gap: 43px;
    .heading{
        margin-left: widthInVW(50);
        width: widthInVW(259);
    }
    .cards-wrapper{
        display: flex;
        flex-direction: column;
        gap: 69px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .card{
        padding-top: 49px;
        padding-bottom: 49px;
        padding-left: 34px;
        padding-right: 34px;
        &:hover{
            box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
            border-radius: 24px;
            .btn-card{
                background-color: $color-blue;
                color: #FFFFFF;
            }
        }
        .icon{
            display: grid;
            place-items: center;
            border-radius: 16px;
            width: 67px;
            height: 67px;
            margin-bottom: 35px;
            .icon-card{
                path{
                    fill: #FFFFFF;
                }
            }
        }
        .title{
            display: block;
            @include setFontProps(24, 36, 700);
            color: $color-heading;
            margin-bottom: 24px;
        }
        .content{
            @include setFontProps(16, 24, 400);
            margin-bottom: 30px;
        }
        .btn-card{
            @include setFontProps(16, 24, 500);
            border: none;
            background: #E0E0E0;
            border-radius: 12px;
            color: $color-small;
            width: 116px;
            height: 42px;
        }
    }
}
.work{
    padding-top: 97px;
    display: flex;
    flex-direction: column;
    .heading{
        width: 267px;
        margin-bottom: 48px;
        margin-left: widthInVW(45);
    }
    .project-wrapper{
        display: flex;
        flex-direction: column;
        gap: 35.63px;
        margin-left: widthInVW(10);
        margin-right: widthInVW(10);
    }
    .projects{
        display: flex;
        flex-direction: column;
        gap: 36px;
        .project{
            display: flex;
            flex-direction: column;
            .project-img{
                width: 100%;
                height: auto;
                border-radius: 24px;
                margin-bottom: 12.43px;
            }
            .tech{
                @include setFontProps(12, 18, 300);
                color: $color-small; 
            }
            .name{
                @include setFontProps(18, 27, 500);
                color: $color-heading;
            }
        }
    }
    .see-more{
        @include setFontProps(18, 27, 500);
        text-decoration: none;
        color: $color-blue;
        display: flex;
        align-items: center;
        gap: 12px;
        .icon{
            path{
                fill: $color-blue;
            }
        }
    }
}
.team{
    padding-top: 100px;
    margin-left: widthInVW(10);
    margin-right: widthInVW(10);
    display: flex;
    flex-direction: column;
    gap: 36px;
    .team-info{
        display: flex;
        flex-direction: column;
        width: 280px;
        .pre-heading{
            @include setFontProps(18, 27, 500);
            color: $color-red;
            margin-bottom: 7px;
        }
        .heading{
            @include setFontProps(36, 54, 500);
            margin-bottom: 14px;
        }
        .description{
            @include setFontProps(16, 24, 400);
        }        
    }
    .team-members{
        width: 100%;
        display: grid;
        grid-template-columns: 50.18% auto;
        gap: 8.91px;
        align-items: center;
        img{
            max-width: none !important;
            width: 100%;
        }
        div{
            display: grid;
            grid-template-rows: auto 1fr;
            gap: 8.91px;
            height: fit-content;
            .member-1{
                height: auto;
                width: 80.20%;
            }
            .member-2{
                height: auto;
                width: 100%;
            }
        }
        .member{
            border-radius: 24px;
        }
    }
}
.clients{
    padding-top: 100.31px;
    display: flex;
    flex-direction: column;
    margin-left: widthInVW(10);
    margin-right: widthInVW(10);
    gap: 27px;
    blockquote{
        @include setFontProps(24, 36, 500);
        color: $color-heading;
    }
    .quote-author{
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 82px 1fr;
        column-gap: 30px;
        align-items: center;
        grid-template-areas: 
        "pic name"
        "pic role";
        img{
            grid-area: pic;
            border-radius: 12px;
        }
        .name{
            grid-area: name;
            @include setFontProps(24, 36, 500);
            color: $color-heading;
        }
        .role{
            grid-area: role;
            @include setFontProps(18, 27, 500);
            color: $color-small;
        }
    }

}
footer{
    background-color: #100E1D;
    padding-left: widthInVW(41);
    padding-right: widthInVW(41);
    display: flex;
    flex-direction: column;
    .footer-items{
        margin-top: 36px;
        margin-bottom: 154px;
        display: flex;
        flex-direction: column;
        gap: 64px;
    }
    .nav{
        ul{
            display: flex;
            flex-direction: column;
            font-size: 18px;
            line-height: 200%;
            font-weight: 400;
            li{
                a{
                    text-decoration: none;
                    color: #FFFFFF;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    .social{
        display: flex;
        flex-direction: column;
        gap: 8px;
        .logo{
            font-family: $font-secondary;
            @include setFontProps(36, 53, 800);
            color: #F2F2F2;
        }
        .social-icons{
            display: flex;
            gap: 11px;
        }
    }
    .licence{
        @include setFontProps(14, 17, 500);
        color: $color-licence;
        text-align: center;
        margin-bottom: 24px;
        .author{
            text-decoration: none;
            color: $color-licence;
            font-weight: 700;
            &:hover{
                text-decoration: underline;
            }
        }
    }
    
}

@media screen and (min-width: 768px) {
    .heading-lg{
        @include setFontProps(48, 72, 500);
    }
    .heading-md{
        @include setFontProps(48, 72, 500);
    }
    .heading-sm{
        @include setFontProps(36, 54, 500);
    }
    .form-email{
        width: WidthInRem(350);
        gap: 9px;
        label{
            @include setFontProps(14, 21, 500);
        }
        .input-group{
            height: 57px;
            input{
                @include setFontProps(18, 27, 500);
                padding-left: 21px;
                padding-right: 104px;
            }
            button{
                @include setFontProps(18, 27, 500);
                width: 94px;
                height: 49px;
            }
        }
    }
    header{
        .navbar{
            .logo{
                @include setFontProps(36, 53, 800);
            }
            .menu-burger{
                .icon-menu{
                    height: 30px;
                    width: auto;
                }
            }
            nav{
                ul{
                    gap: 50px;
                    @include setFontProps(24, 36, 700);
                }
            }
        }
        .banner{
            .banner-text{
                width: widthInRem(543);
                .pre-heading{
                    @include setFontProps(18, 27, 500);
                }
            }
        }
        .contact{
            width: widthInRem(366);
            .contact-text{
                .heading{
                    width: 100%;
                }
                .content{
                    width: 100%;
                    @include setFontProps(18, 27, 400);
                }
            }
        }
    }
    main{
        margin-left: widthInVW(10);
        margin-right:widthInVW(10);
    }
    .service{
        gap: heightInVH(42, 900);
        .heading{
            width: widthInRem(346);
            margin-left: 15px;
        }
        .cards-wrapper{
            align-self: center;
            flex-direction: row;
            gap: 0;
        }
        .card{
            padding-top: 46px;
            padding-bottom: 46px;
            .icon{
                .icon-card{
                    width: 28px;
                    height: 28px;
                }
            }
            .content{
                width: widthInVW(88);
            }
        }
    }
    .work{
        padding-top: heightInVH(194, 900);
        .heading{
            width: 448px;
            margin-left: 15px;
        }
        .project-wrapper{
            position: relative;
            .projects{
                display: grid;
                grid-template-columns: 1fr 1fr;                
                column-gap: 20px;
                .project{
                    .tech{
                        @include setFontProps(14, 21, 300);
                    }
                    .name{
                        @include setFontProps(24, 36, 500);
                    }
                }
                .project:nth-child(odd){
                    margin-top: heightInVH(100, 900);
                }
            }
            .see-more{
                @include setFontProps(24, 36, 500);
                z-index: 500;
                position: absolute;
                bottom: 4px;
                right: 0;
            }
        }
    }
    .team{
        padding-top: heightInVH(219, 900);
        flex-direction: row;
        align-items: center;
        gap: widthInVW(80, 1440);
        .team-info{
            width: widthInRem(280);
        }
        .team-members{
            width: auto;
            gap: 10px;
            div{
                gap: 10px;
            }
        }
    }
    .clients{
        padding-top: heightInVH(196, 900);
        blockquote{
            @include setFontProps(36, 54, 500);
        }
    }
    footer{
        .form-email{
            width: widthInRem(350);
        }
    }
}

@media screen and (min-width: 992px) {
    .heading-lg{
        @include setFontProps(48, 72, 500);
    }
    .form-email{
        width: WidthInRem(350);
        gap: 9px;
        label{
            @include setFontProps(14, 21, 500);
        }
        .input-group{
            height: 57px;
            input{
                @include setFontProps(18, 27, 500);
                padding-left: 21px;
                padding-right: 104px;
            }
            button{
                @include setFontProps(18, 27, 500);
                width: 94px;
                height: 49px;
            }
        }
    }
    header{
        .navbar{
            padding: {
                top: heightInVH(42, 900);
                right:widthInVW(52, 1440);
                left:widthInVW(52, 1440);
            };
            &.sticky{
                padding-top: heightInVH(8, 900);
                padding-bottom: heightInVH(8, 900);
            }
            .logo{
                @include setFontProps(36, 53, 800);
            }
            nav{
                display: flex;
                ul{
                    display: flex;
                    flex-direction: row;
                    gap: widthInVW(60, 1440);
                    @include setFontProps(24, 36, 500);
                }
                li{
                    &.active a{
                        color: $color-blue;
                    }
                    &.active a::after{
                        display: none;
                    }
                }
                .close{
                    display: none;
                }
            }
            .menu-burger{
                display: none;
            }
        }
        .banner{
            padding: {
                right:widthInVW(52, 1440);
                left:widthInVW(52, 1440);
            };
            margin-bottom: heightInVH(42, 900);            
            .banner-text{
                margin-left: widthInVW(225, 1440);
                width: widthInRem(543);
                margin-bottom: heightInVH(42, 900);
                gap: 16px;
                .pre-heading{
                    @include setFontProps(18, 27, 500);
                }
            }
        }
        .contact{
            padding: {
                right:0;
                left:0;
            };
            width: widthInRem(366);
            margin-left: widthInVW(277, 1440);
            .contact-text{
                gap: 42px;
                margin-bottom: heightInVH(42, 900);
                .heading{
                    width: 100%;
                }
                .content{
                    width: 100%;
                    @include setFontProps(18, 27, 400);
                }
            }
        }
    }
    main{
        margin-left: widthInVW(165, 1440);
        margin-right: widthInVW(165, 1440);
        margin-bottom: heightInVH(200, 900);
    }
    .service{
        padding-top: heightInVH(96, 900);
        gap: heightInVH(42, 900);
        .heading{
            width: widthInRem(346);
            margin-left: 0;
        }
        .cards-wrapper{
            align-self: center;
            flex-direction: row;
            gap: widthInVW(40, 1440);
        }
        .card{
            padding-top: 46px;
            padding-bottom: 46px;
            .icon{
                .icon-card{
                    width: 28px;
                    height: 28px;
                }
            }
            .content{
                width: widthInVW(273, 1440);
            }
        }
    }
    .work{
        padding-top: heightInVH(194, 900);
        .heading{
            width: 448px;
            margin-left: 0;
            margin-bottom: 12px;
        }
        .project-wrapper{
            position: relative;
            margin: 0;
            .projects{
                display: grid;
                grid-template-columns: 1fr 1fr;                
                column-gap: 20px;
                .project{
                    .tech{
                        @include setFontProps(14, 21, 300);
                    }
                    .name{
                        @include setFontProps(24, 36, 500);
                    }
                }
                .project:nth-child(odd){
                    margin-top: heightInVH(176, 900);
                }
            }
            .see-more{
                @include setFontProps(24, 36, 500);
                z-index: 500;
                position: absolute;
                bottom: 4px;
                right: 0;
            }
        }
    }
    .team{
        padding-top: heightInVH(219, 900);
        margin-left: 0;
        margin-right: 0;
        flex-direction: row;
        align-items: center;
        gap: widthInVW(188, 1440);
        
        .team-info{
            width: widthInRem(280);
        }
        .team-members{
            width: auto;
            gap: 24px;
            div{
                gap: 24px;
            }
        }
    }
    .clients{
        padding-top: heightInVH(196, 900);
        margin:0;
        gap: 45px;
        blockquote{
            @include setFontProps(36, 54, 500);
            width: widthInRem(937);
        }
    }
    footer{
        padding-left: widthInVW(168, 1440);
        .footer-items{
            margin-top: heightInVH(46, 900);
            flex-direction: row;
            gap:0;
        }
        .nav{
            margin-right: widthInVW(245, 1440);
        }
        .social{
            margin-right: widthInVW(356, 1440);;
        }
        .form-email{
            width: widthInRem(350);
        }
    }
}